* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri;
  background-color: #7159c1;
}

button {
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  flex-direction: row;
  margin: 10px;
}

button:hover {
  opacity: 0.8;
}

button:focus{
  outline: none;
  outline-offset: 0px;
}

p {
  margin: 10px;
}

strong {
  font-size: 25px;
  margin: 10px;
}

.divRoot {
  display: flex;
  justify-content: center;
}

.listRepositories {
  position: absolute;
  overflow: auto;
  top: 0;
  bottom: 75px;
}

.listRepositories::-webkit-scrollbar {
  width: 5px;
  justify-content: center;
}

.listRepositories::-webkit-scrollbar-thumb:vertical {
  background-color: #d8d8d877;
  border-radius: 5px;
}

.listRepositories::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #d8d8d8bb;
}

.repository {
  display: flexbox;
  background-color: white;
  margin: 10px;
  width: 400px;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  list-style-type: none;
}

.repository ul {
  display: flex;
  margin: 10px;
  overflow: auto;
}

.repository ul::-webkit-scrollbar {
  background-color: white;
  height: 5px;
}

.repository ul::-webkit-scrollbar-thumb:horizontal {
  background-color: #d8d8d8;
  border-radius: 5px;
}

.repository ul li {
  white-space: nowrap;
  list-style-type: none;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: #04d361;
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
}

.btLike {
  background-color: #365ec2;
  border-radius: 3px;
}

.btDelete {
  background-color: #d11f43;
  border-radius: 3px;
}

.btAdd {
  position: absolute;
  background-color: #2b8c4c;
  width: 400px;
  margin-left: 0px;
  bottom: 5px;
  border: 2px solid white;
  border-radius: 5px;
}

.contentButtons {
 flex-direction: row;
}